<%- include('../shared/includes/head', { pageTitle: 'Thank You' }) %>
    <link rel="stylesheet" href="/styles/forms.css">
    </head>

    <body>
        <%- include('../shared/includes/header') %>
            <main>
                <h3>Thank you for submitting your contact information.</h3>
                <h3>Good luck!</h3>
            </main>
            </main>
            <%- include('../shared/includes/footer') %>