<header id="main-header">
    <div id="logo"><a href="/"><img src="https://toast-sites-prod.nyc3.cdn.digitaloceanspaces.com/restaurantImages/65607927-4a85-4e15-ad19-cf76d0ee3b63/zazzys.png" alt="zazzys logo"></a>
        <h1>Looking for a job?</h1>
    </div>
    <nav></nav>
</header>