<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link data-rh="true" rel="icon" id="favicon"
        href="https://toast-sites-prod.nyc3.cdn.digitaloceanspaces.com/restaurantImages/65607927-4a85-4e15-ad19-cf76d0ee3b63/zazzys.png">

    <link rel="shortcut icon" href="https://toast-sites-prod.nyc3.cdn.digitaloceanspaces.com/restaurantImages/65607927-4a85-4e15-ad19-cf76d0ee3b63/zazzys.png" type="image/x-icon" />
    <meta property="og:title" content="Zazzy's // Looking-For-A-Job" />
    <meta property="og:image" itemprop="image" content="https://toast-sites-prod.nyc3.cdn.digitaloceanspaces.com/restaurantImages/65607927-4a85-4e15-ad19-cf76d0ee3b63/zazzys.png" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Zazzy's // Looking-For-A-Job" />
    <meta name="twitter:image:alt" content="https://toast-sites-prod.nyc3.cdn.digitaloceanspaces.com/restaurantImages/65607927-4a85-4e15-ad19-cf76d0ee3b63/zazzys.png" />
    <meta name="twitter:image" content="https://toast-sites-prod.nyc3.cdn.digitaloceanspaces.com/restaurantImages/65607927-4a85-4e15-ad19-cf76d0ee3b63/zazzys.png" />
    <link href="https://looking-for-job-app-7f57c8dc5296.herokuapp.com/" rel="canonical" />
    <meta property="og:image:width" content="250" />
    <meta property="og:image:height" content="250" />
    <meta property="og:image:type" content="image/png" />
    <link rel="apple-touch-icon" sizes="250x250" href="https://toast-sites-prod.nyc3.cdn.digitaloceanspaces.com/restaurantImages/65607927-4a85-4e15-ad19-cf76d0ee3b63/zazzys.png" />
    <link rel="icon" type="image/png" sizes="250x250" href="https://toast-sites-prod.nyc3.cdn.digitaloceanspaces.com/restaurantImages/65607927-4a85-4e15-ad19-cf76d0ee3b63/zazzys.png" />
    <link rel="icon" type="image/png" sizes="250x250" href="https://toast-sites-prod.nyc3.cdn.digitaloceanspaces.com/restaurantImages/65607927-4a85-4e15-ad19-cf76d0ee3b63/zazzys.png" />
    <link rel="mask-icon" href="https://toast-sites-prod.nyc3.cdn.digitaloceanspaces.com/restaurantImages/65607927-4a85-4e15-ad19-cf76d0ee3b63/zazzys.png" />

    <title>
        <%= pageTitle %>
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/base.css">